* {
	padding: 0;
	margin: 0;
}
hr {
	margin: 5px;
}
html {
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}
.anchor_div {
	margin: 20px 0;
}
.container {
	margin: 20px;
	display: flex;
}
.nav {
	flex: 1;
}
.nav_container {
	margin: 20px;
	width: 50%;
	background-color: #007986;
}
.anchor:target {
	transition: 2s;
}
.navlist {
	width: 80%;
	margin: 0 20px;
	height: 350px;
}

.navlist li {
	padding: 10px;
	list-style-type: none;
}

.Main {
	flex: 1;
}
.Main > div {
	margin: 30px 0;
}

.header {
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}

h1 {
	font-size: 1.3em;
	font-weight: 700;
	margin: 5px 0;
}
h2 {
	font-size: 1.1em;
	font-weight: 700;
	margin: 5px 0;
}
h3 {
	font-size: 0.9em;
	font-weight: 700;
	margin: 5px 0;
}
.container_color_theme {
	display: flex;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin: 10px;
}
.box p {
	position: absolute;
	text-align: center;
}

.box-one {
	background-color: #ff5e62;
	transition: 1s;
}

.box-two {
	background-color: #007986;
	transition: 1s;
}

.box-three {
	background-color: #f7b900;
	transition: 1s;
}

.box-one:hover {
	transform: scale(1.1);
}
.box-two:hover {
	transform: scale(1.1);
}
.box-three:hover {
	transform: scale(1.1);
}

.btn {
	margin: 10px;
	padding: 5px;
	height: 35px;
	width: 150px;
	border-radius: 5px;
	border: none;
	transition: 0.5s;
	color: white;
}
.btn:hover {
	transform: scale(1.05);
}

.btn1 {
	background-color: #00a900;
}
.btn1:hover {
	background-color: #008000;
}
.btn2 {
	background-color: #007986;
}
.btn2:hover {
	background-color: #005764;
}
.btn3 {
	background-color: #ff5e62;
}

.btn3:hover {
	background-color: #cc3c40;
}

.inputfield {
	margin: 10px;
	width: 150px;
	height: 30px;
	font-size: 16px;
	border: none;
	border-bottom: 2px solid #007986;
}
.inputfield::placeholder {
	transition: 0.5s;
	font-size: 20px;
}

.inputfield:focus {
	outline: none;
	transition: 0.5s;
}
.inputfield:focus::placeholder {
	font-size: 10px;
	transition: 0.5s;
}

.input_label {
	display: block;
	font-size: 20px;
	font-weight: bold;
}

.form_elements_div {
	margin: 10px;
}

.response_message {
	width: 80%;
	height: 40px;
	padding: 5px;
	margin: 10px 0;
	font-weight: 600;
	border-radius: 10px;
}

.response_message p {
	margin: 5px 20px;
	height: inherit;
}

.response-1 {
	background: #f7b900;
}

.response-2 {
	background-color: #ff5e62;
}

.response-3 {
	background-color: #00a900;
}

.close {
	float: right;
}
