* {
	padding: 0;
	margin: 0;
}
hr {
	margin: 5px;
}
html {
	font-family: "Open Sans", sans-serif;
	scroll-behavior: smooth;
}
.anchor_div {
	margin: 20px 0;
}
.container {
	margin: 20px;
	display: flex;
}
.nav {
	flex: 1;
}
.nav_container {
	margin: 20px;
	width: 50%;
	background-color: #007986;
}
.anchor:target {
	transition: 2s;
}
.navlist {
	width: 80%;
	margin: 0 20px;
	height: 350px;
}

.navlist li {
	padding: 10px;
	list-style-type: none;
}

.Main {
	flex: 1;
}
.Main > div {
	margin: 30px 0;
}

.header {
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}
